.header {
  display: flex;
  flex: 0 0 auto;
  align-items: center;
  height: 68px;
  padding: 0 27px;
  background-color: #fff;
  box-shadow: 0 2.5px 9.5px 0 rgb(90 97 105 / 12%);
}

.header__search {
  display: flex;
  flex-grow: 1;
  align-items: center;
  height: 100%;
  padding-right: 10px;
  color: var(--gray-blue);
  font-size: 13px;

  input {
    width: 100%;
    padding: 0;
    border: none;
    outline: none;

    &::placeholder {
      color: var(--gray-blue);
    }
  }

  &::before {
    float: left;
    width: 15px;
    height: 19.5px;
    margin-right: 9px;
    color: #0ec261;
    background: url(../../../../assets/SearchIcon.svg) no-repeat center center;
    content: "";
  }
}

.header__notifications-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 70px;
  min-width: 44px;
  height: 100%;
  background-color: transparent;
  border: none;
  box-shadow: -0.5px 0 0 0 rgb(202 206 219 / 100%), 0.5px 0 0 0 rgb(202 206 219 / 100%);
  transition: 0.4s background-color ease;

  div {
    position: relative;

    svg {
      path {
        transition: 0.4s fill ease;
      }
    }

    &::after {
      position: absolute;
      right: -8px;
      bottom: -4px;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 14px;
      height: 14px;
      color: #fff;
      font-size: 9px;
      background-color: var(--red);
      border-radius: 45px;
      content: "2";
    }
  }

  &:hover {
    background-color: var(--gray-light2);

    svg {
      path {
        fill: var(--blue);
      }
    }
  }
}

.header__account {
  height: 100%;
  padding-left: 27px;
  background-color: transparent;

  :global {
    .container {
      display: flex;
      align-items: center;
      height: 100%;
      padding: 0;

      .dropdown-toggle {
        display: flex;
        align-items: center;
        padding: 0;
        color: #5a6169;
        font-size: 15px;
        transition: 0.4s all ease;

        & > div {
          display: flex;
          gap: 21px;
          align-items: center;
        }

        &::after {
          margin-left: 38px;
          color: #abb6bf;
        }
      }

      .dropdown-menu {
        border: none;
        box-shadow: 0 3.5px 35px 0 rgb(90 97 105 / 10%), 0 5px 5px 0 rgb(90 97 105 / 6%),
          0 2px 4px 0 rgb(90 97 105 / 12%), 0 1px 0 0 rgb(90 97 105 / 11%);

        .dropdown-item {
          color: var(--dark-blue);
        }

        .dropdown-divider {
          border-top: 1px solid #e1e5eb;
        }
      }

      &:hover {
        .dropdown-toggle {
          color: var(--blue);

          &::after {
            color: var(--blue);
          }
        }
      }
    }
  }
}

.header__menu-btn {
  display: none;
}

@media (max-width: 1400px) {
  .header__menu-btn {
    display: flex;
    margin-right: 16px;
  }

  .header {
    height: 44px;
  }

  .header__account {
    :global {
      .container {
        .dropdown-toggle {
          & > div {
            display: flex;
            gap: 21px;
            align-items: center;

            img {
              width: 30px;
              height: 30px;
            }
          }

          &::after {
            margin-left: 38px;
          }
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .header {
    padding: 0 16px;
  }

  .header__account {
    padding-left: 16px;

    :global {
      .container {
        .dropdown-toggle {
          & > div {
            span {
              display: none;
            }
          }

          &::after {
            margin-left: 6px;
          }
        }

        .dropdown-menu {
          left: -110px;
        }
      }
    }
  }
}
