.input-wrap {
  position: relative;

  input {
    color: var(--dark-blue);
    font-size: 11px;

  }

  :global {
    .input-message {
      position: absolute;
      bottom: -18px;
      left: 14px;
      color: var(--red);
      font-size: 10px;
    }
  }
}
