.index-wrapper {
  display: flex;
  width: 100%;
  height: calc(var(--vh, 1vh) * 100);
}

.index {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.index__content {
  flex: 1 1 auto;
}

@media (max-width: 1400px) {
  .index__nav-xxl {
    display: none;
  }
}
