.order-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 1024px;
  padding: 14px 22px;
  font-family: "Roboto", sans-serif;
}

.order-item__img {
  max-width: 138px;
}

.order-item__details {
  display: flex;
  flex-direction: column;
  color: var(--dark-gray2);
  font-size: 13px;

  strong {
    color: var(--black);
    font-weight: 400;
  }

  .order-item__colors {
    text-transform: capitalize;
  }
}

.order-item__price {
  color: var(--black);
  font-size: 24px;
}
