.order-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 1024px;
  padding: 14px 22px;
  font-family: "Roboto", sans-serif;
}

.order-item__img {
  max-width: 138px;
}

.order-item__details {
  display: flex;
  flex-direction: column;
  color: var(--dark-gray2);
  font-size: 13px;

  strong {
    color: var(--black);
    font-weight: 400;
  }

  .order-item__colors {
    text-transform: capitalize;
  }
}

.order-item__price {
  color: var(--black);
  font-size: 24px;
}

.cols {
  padding: 0 25px;

  &:nth-child(1) {
    width: 155px;
  }
}

@media (max-width: 1024px) {
  .cols {
    &:nth-child(2) {
      width: 252px;
      max-width: 260px;
      padding-right: 60px;
    }
    &:nth-child(3) {
      width: 150px;
      text-align: center;
    }
    &:nth-child(4) {
      width: 200px;
      text-align: center;
    }
    &:nth-child(5) {
      width: 150px;
      padding-right: 20px;
    }
  }

}
