@import "~bootstrap/scss/bootstrap";

@font-face {
  font-weight: 300;
  font-family: "Roboto";
  src: url(../fonts/Roboto-Light.ttf) format("truetype");
}

@font-face {
  font-weight: 400;
  font-family: "Roboto";
  src: url(../fonts/Roboto-Regular.ttf) format("truetype");
}

@font-face {
  font-weight: 500;
  font-family: "Roboto";
  src: url(../fonts/Roboto-Medium.ttf) format("truetype");
}

@font-face {
  font-weight: 700;
  font-family: "Roboto";
  src: url(../fonts/Roboto-Bold.ttf) format("truetype");
}

@font-face {
  font-weight: 400;
  font-family: "Helvetica";
  src: url(../fonts/Helvetica-Regular.ttf) format("truetype");
}

@font-face {
  font-weight: 700;
  font-family: "Helvetica";
  src: url(../fonts/Helvetica-Bold.ttf) format("truetype");
}

* {
  box-sizing: border-box;
  margin: 0;
}

:root {
  --bg: #f5f6f8;
  --gray-light: #eee;
  --gray: #999;
  --dark-blue: #3d5170;
  --black: #121212;
  --blue: #007bff;
  --green: #0ec261;
  --red: #c4183c;
}

body {
  min-width: 320px;
  font-family: "Helvetica", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--bg);
}

a {
  text-decoration: none;
}

h1,
h2,
h3 {
  color: var(--dark-blue);
}

.input-wrap {
  position: relative;

  input {
    padding: 8px 11px;
    color: var(--dark-blue);
    font-size: 11px;
  }

  .input-message {
    position: absolute;
    bottom: -18px;
    left: 11px;
    color: var(--red);
    font-size: 10px;
  }
}

@media (max-width: 767.98px) {
  body {
    background-color: #fff;
  }
}
