@import "~bootstrap/scss/bootstrap";

@font-face {
  font-weight: 300;
  font-family: "Roboto";
  src: url(../fonts/Roboto-Light.ttf) format("truetype");
}

@font-face {
  font-weight: 400;
  font-family: "Roboto";
  src: url(../fonts/Roboto-Regular.ttf) format("truetype");
}

@font-face {
  font-weight: 500;
  font-family: "Roboto";
  src: url(../fonts/Roboto-Medium.ttf) format("truetype");
}

@font-face {
  font-weight: 700;
  font-family: "Roboto";
  src: url(../fonts/Roboto-Bold.ttf) format("truetype");
}

@font-face {
  font-weight: 400;
  font-family: "Helvetica";
  src: url(../fonts/Helvetica-Regular.ttf) format("truetype");
}

@font-face {
  font-weight: 700;
  font-family: "Helvetica";
  src: url(../fonts/Helvetica-Bold.ttf) format("truetype");
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --bg: #f5f6f8;
  --gray-light: #eee;
  --gray-light2: #fbfbfb;
  --gray-light3: #e9ecef;
  --gray: #999;
  --dark-gray: #818ea3;
  --dark-gray2: #868e96;
  --dark-blue: #3d5170;
  --black: #121212;
  --blue: #007bff;
  --gray-blue: #767f9d;
  --green: #0ec261;
  --red: #c4183c;
}

body {
  min-width: 320px;
  font-family: "Helvetica", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--bg);
}

a {
  text-decoration: none;
}

h1,
h2,
h3 {
  color: var(--dark-blue);
}

.input-wrap {
  position: relative;

  input {
    padding: 8px 11px;
    color: var(--dark-blue);
    font-size: 11px;
  }

  .input-message {
    position: absolute;
    bottom: -18px;
    left: 11px;
    color: var(--red);
    font-size: 10px;
  }
}

.offcanvas-start {
  width: 285px;
}

.form-select {
  padding: 6px 18px 6px 14px;
  color: var(--dark-gray2);
  font-size: 11px;
  background-image: url(../FormDropdown.svg);
  background-position: right 7.5px center;
  background-size: 5px 6.5px;
}

.range-select {
  &:first-child {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
  &:last-child {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-left: none;
  }
}

.btn-sm {
  min-width: 95px;
  padding: 6px 16px;
  font-size: 11px;
}

.form-check {
  display: flex;
  gap: 10px;
  align-items: center;

  .form-check-input {
    float: none;
    width: 13px;
    height: 13px;
    margin-top: 0;
  }

  .form-check-input:checked {
    background-image: url(../CheckboxIcon.svg);
    background-size: 8px 6px;
  }

  .form-check-input:disabled:not(:checked) {
    background-color: var(--gray-light3);
  }

  .form-check-label {
    font-size: 10px;
  }
}

.table-container {
  font-size: 12px;
  padding: 14px 22px;
}

.table {
  margin-bottom: 22px;
  max-width: 1600px;
}

.table-hover > tbody > tr:hover > * {
  --bs-table-accent-bg: var(--gray-light2);
}

.setting-btn {
  display: flex;
  gap: 4px;
  align-items: center;
  color: #5a6169;
  line-height: 1;
  border-color: #becad6;
  border-radius: 4px;
  background-color: #fff;

  &:hover {
    color: #fff;
    background-color: #0d6efd;
    border-color: #0d6efd;

    svg {
      path {
        fill: #fff;
      }
    }
  }
}

.pagination-sm {
  gap: 2px;
  margin-bottom: 0;

  .page-item {
    .page-link {
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 40px;
      border: none;
      width: 20px;
      height: 20px;
      padding: 0;
    }
  }

  .page-item:last-child .page-link {
    border-top-right-radius: 40px;
    border-bottom-right-radius: 40px;
  }

  .page-item:first-child .page-link {
    border-top-left-radius: 40px;
    border-bottom-left-radius: 40px;
  }
}

.capitalize {
  text-transform: capitalize;
}

.uppercase {
  text-transform: uppercase;
}

@media (max-width: 767.98px) {
  body {
    background-color: #fff;
  }
}
